.checkout__product{
	display:flex;
	margin: 20px 0 20px;
	img{
		object-fit:contain;
		width: 180px;
		height: 180px;
	}
	.checkout_product_info{
		padding-left:20px;
		.checkout__product_title{
			font-size: 17px;
			font-weight: 600;
		}
		.checkout_product_rating{
			display: flex;
		}
		button{
			margin-top: 10px;
			padding: 8px;
			border-radius: 5px;
			outline: 0;
			border: 0;
			color: #fff;
			cursor: pointer;
			background: #f44336;
		}
	}
}