.header{
	background-color: #006064;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 100;
	a{
		text-decoration: none;
		h2{
			padding: 15px;
			color: #fff;
		}
	}
	.header__logo{
		width: 100px;
		margin: 18px 18px 0 18px;
		object-fit: contain;
	}	
	.header_search{
		display: flex;
		flex: 1;
		opacity: 0;
		pointer-events: none;
		.header__searchBox{
			position: relative;
			.header__dropdownList{
				position: absolute;
			}
		}
		.header_searchInput{
			padding: 10px;
			outline: 0;
			border: none;
			width: 100%;
		}
		.header_searchIcon{
			padding: 5px;
			height: 35px !important;
			background-color: #80deea;
			width: 45px;
		}
	}
	.header__nav{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		.header__link{
			color: #fff;
			text-decoration: none;
			.header__option{
				display: flex;
				flex-direction: column;
				margin: 0 10px 0 10px;
				min-width: 100px;
				position: relative;
				.header__signOut{
					position: absolute;
					bottom: -81px;
					background-color: #80deea;
					border-radius: 3px;
					border: 1px solid #ccc;
					width: 100%;
					display: none;
					justify-content: center;
    				flex-direction: column;
					cursor: auto;
					transition: all .3s ease-in-out;
					button,a{
						cursor: pointer;
						padding: 8px;
						background-color: #80deea;
						border: 0;
						font-size: 14px;
						color: #000;
						outline: 0;
						width: 100%;
						text-align: left;
						transition: all .3s ease-in-out;
					}
					button:first-child,a:first-child{
						border-bottom: 1px solid #fff;
					}
					button:hover,a:hover{
						background-color: #4dd0e1;
					}
				}
				.header__signOut::before{
					content: "";
					position: absolute;
					left: 3px;
					top: -9px;
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid #fff;
				}
				.header__cart{
					position: absolute;
					bottom: -80px;
					background-color: #fff;
					border-radius: 5px;
					border: 1px solid #ccc;
					flex-direction: column;
					width: 100%;
					display: none;
					transition: all .3s ease-in-out;
					cursor: auto;
					button{
						cursor: pointer;
						padding: 8px;
						border: 0;
						outline: 0;
						color: #131921;
						font-size: 14px;
						background-color: #80deea;
						border-top: 1px solid #fff;
						border-radius: 0 0 5px 5px;
						text-align: left;
					}
					button:hover{
						background-color: #4dd0e1;
					}
					a{
						color: #131921;
						padding: 8px;
						font-size: 14px;
						border-radius: 5px 5px 0 0;
						border: 0;
						background-color: #80deea;
						outline: 0;
						font-size: 14px;
					}
					a:hover{
						background-color: #4dd0e1;
					}
				}
				.header__cart::before{
					content: "";
					position: absolute;
					left: 3px;
					top: -9px;
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid #fff;
				}
				.header__optionLineOne{
					font-size: 10px;
					display: flex;
					align-items: center;
					.MuiSvgIcon-root{
						font-size: 30px;
						margin-left: 10px;
					}
				}
				.header__optionLineTwo{
					font-size: 13px;
					font-weight: 600;
					margin-top: -8px;
				}
				p{
					font-size: 12px;
					font-weight: bold;
				}
			}
			.header_optionBasket{
				display: flex;
				align-items: center;
				.header__optionBasketCount{
					margin: 0 10px 0 10px;
				}
			}
		}
	}
}
