.header{
	background-color: #131921;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 100;
	a{
		text-decoration: none;
		h2{
			padding: 15px;
			color: #fff;
		}
	}
	.header__logo{
		width: 100px;
		margin: 18px 18px 0 18px;
		object-fit: contain;
	}	
	.header_search{
		display: flex;
		flex: 1;
		.header_searchInput{
			padding: 10px;
			outline: 0;
			border: none;
			width: 100%;
		}
		.header_searchIcon{
			padding: 5px;
			height: 35px !important;
			background-color: #cd9042;
			width: 45px;
		}
	}
	.header__nav{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		.header__link{
			color: #fff;
			text-decoration: none;
			.header__option{
				display: flex;
				flex-direction: column;
				margin: 0 10px 0 10px;
				min-width: 100px;
				position: relative;
				.header__signOut{
					position: absolute;
					bottom: -55px;
					background-color: #fff;
					border-radius: 5px;
					border: 1px solid #ccc;
					display: none;
					cursor: auto;
					transition: all .3s ease-in-out;
					button{
						cursor: pointer;
						padding: 8px;
						border: 0;
						outline: 0;
					}
				}
				.header__signOut::before{
					content: "";
					position: absolute;
					left: 3px;
					top: -9px;
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid #8a8a8a;
				}
				.header__cart{
					position: absolute;
					bottom: -84px;
					background-color: #fff;
					border-radius: 5px;
					border: 1px solid #ccc;
					flex-direction: column;
					display: none;
					transition: all .3s ease-in-out;
					cursor: auto;
					button{
						cursor: pointer;
						padding: 5px;
						border: 0;
						outline: 0;
						color: #131921;
						font-size: 14px;
						background-color: #f4f4f4;
						border-top: 1px solid #ccc;
						border-radius: 0 0 5px 5px;
					}
					a{
						color: #131921;
						padding: 5px;
						border-radius: 5px 5px 0 0;
						border: 0;
						background-color: #f4f4f4;
						outline: 0;
						font-size: 14px;
					}
				}
				.header__cart::before{
					content: "";
					position: absolute;
					left: 3px;
					top: -9px;
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid #8a8a8a;
				}
				.header__optionLineOne{
					font-size: 10px;
				}
				.header__optionLineTwo{
					font-size: 13px;
					font-weight: 800;
				}
				p{
					font-size: 12px;
					font-weight: bold;
				}
			}
			.header_optionBasket{
				display: flex;
				align-items: center;
				.header__optionBasketCount{
					margin: 0 10px 0 10px;
				}
			}
		}
	}
}
