.login__container{
	width: 100%;
	float: left;
	.flex__login{
		width: 400px;
		margin: auto;
		.logo{
			.logo__img{

			}
			.in__logo{

			}
		}
		.login-content{

		}
		.login_divider{

		}
		.signup_btn{
			button{

			}
		}
	}
}