.profile{
    .profile__details{
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .profile__detail{
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 5px;
            .profile__formGroup{
                min-width: 300px;
                margin-bottom: 20px;
                p{
                    width: 100%;
                }
                input{
                    width: 100%;
                    padding: 5px;
                    outline: 0;
                    border: 1px solid #80deea;
                    background-color: #e0f7fa;
                }
                .toggle_password{
                    width: 20px;
                    height: 18px;
                    cursor: pointer;
                    background-size: 100%;
                    position: absolute;
                    position: absolute;
                    bottom: 4px;
                    right: 6px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .toggle_password.show{
                    background-image: url(../assets/show_password.png);
                }   
                .toggle_password.hide{
                    background-image: url(../assets/hide_password.png);
                }
            }
            .profile__formGroup:last-child{
                margin-bottom: 0;
                position: relative;
            }
        }
    }
}