.subtotal{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	height: 110px;
	padding: 20px;
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	border-radius: 3px;
	.subtotal_gifts{
		display: flex;
		align-items: center;
		input{
			margin-right: 5px;
		}
	}
	button{
		background-color: #0097a7;
		border: 1px solid;
		border-color: #a88734 #9c7e31 #84ba29;
		cursor: pointer;
		border-radius: 5px;
		color: #fff;
		padding: 8px 0;
		margin-top: 15px;
	}
}