.subtotal{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	height: 100px;
	padding: 20px;
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	border-radius: 3px;
	.subtotal_gifts{
		display: flex;
		align-items: center;
		input{
			margin-right: 5px;
		}
	}
	button{
		background-color: #f0c14b;
		border: 1px solid;
		border-color: #a88734 #9c7e31 #84ba29;
		cursor:pointer;
		border-radius: 2px;
		color: #111;
		padding: 5px 0;
	}
}